#myCardBox{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    left: 30px;
    width: 95%;
    height: 25%;
    border: 1px solid red;
}
#myCardBox>div{
    width: 250px;
    height: 100%;
    border: 1px solid red;
}
#myCardBox>div>img{
    width: 250px;
    height: 100%;
    background-size: cover;
}
#trumpSelectingBox{
    position: absolute;
    bottom: 30%;
    width: 15%;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 70%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px;}